<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Adding the thruster units with the macro created in snippets.xacro -->
    <!--
    Important:
        - The thruster IDs must be given as integers and must be unique to each thruster unit
        - The thruster pose in the <origin> block is relative to the body's center of mass. Be
          aware that Gazebo does not use the SNAME convention per default.
    -->

   
    <xacro:thruster_macro robot_namespace="${namespace}" thruster_id="HSA">
        <xacro:insert_block name="hsa_pos" />
    </xacro:thruster_macro>

    <xacro:thruster_macro robot_namespace="${namespace}" thruster_id="HPA">
        <xacro:insert_block name="hpa_pos"/>
    </xacro:thruster_macro>

    
    <xacro:thruster_macro robot_namespace="${namespace}" thruster_id="HPF">
        <xacro:insert_block name="hpf_pos"/>
    </xacro:thruster_macro>

    
    <xacro:thruster_macro robot_namespace="${namespace}" thruster_id="HSF">
        <xacro:insert_block name="hsf_pos"/>
    </xacro:thruster_macro>

    
   <xacro:thruster_macro robot_namespace="${namespace}" thruster_id="VPF">
        <xacro:insert_block name="vpf_pos"/>
    </xacro:thruster_macro>

    
    <xacro:thruster_macro robot_namespace="${namespace}" thruster_id="VPA">
        <xacro:insert_block name="vpa_pos"/>
    </xacro:thruster_macro>

  
    <xacro:thruster_macro robot_namespace="${namespace}" thruster_id="VSF">
        <xacro:insert_block name="vsf_pos"/>
    </xacro:thruster_macro>

    
    <xacro:thruster_macro robot_namespace="${namespace}" thruster_id="VSA">
        <xacro:insert_block name="vsa_pos"/>
    </xacro:thruster_macro>

</robot>
