<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="maelstrom_hydro_model" params="namespace">
      <!-- List of hydrodynamic models this robot's links -->
      <link name="${namespace}/base_link">
        <!-- This flag will make the link neutrally buoyant -->
        <neutrally_buoyant>0</neutrally_buoyant>

        <!-- Link's volume -->
        <volume>${maelstrom_volume}</volume>

        <!-- Link's bounding box, it is used to recalculate the immersed
        volume when close to the surface.
        This is a workaround the invalid bounding box given by Gazebo-->
        <box>
          <width>${maelstrom_width}</width>
          <length>${maelstrom_length}</length>
          <height>${maelstrom_height}</height>
        </box>

        <!-- Center of buoyancy -->
        <center_of_buoyancy>${maelstrom_cob}</center_of_buoyancy>

        <!-- All these values stolen from RexROV2... need to compute
        for Maelstrom -->
        <hydrodynamic_model>
          <xacro:insert_block name="maelstrom_hydro_model"/>
        </hydrodynamic_model>

      </link>
    </xacro:macro>

</robot>
