<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--
    Some examples of sensors that can be added to the vehicle frame.
    Set the origin of the sensor frames correctly for your application
    Look into the sensor macros in the package uuv_sensor_ros_plugins/urdf for
    more examples or add you own custom sensor units.
  -->

<!-- right forward camerea-->
<xacro:regular_camera_plugin_macro
      namespace="sensors"
      suffix="_forward_R"
      parent_link="${namespace}/base_link"
      topic="camera"
      mass="0.001"
      update_rate="30"
      hfov="1.5125"
      width="768"
      height="492"
      stddev="0.02"
      scale="1.0">
      <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />
      <xacro:insert_block name="forward_camera_R_pos" />
</xacro:regular_camera_plugin_macro> 

<!-- left forward camera-->
<xacro:regular_camera_plugin_macro
      namespace="sensors"
      suffix="_forward_L"
      parent_link="${namespace}/base_link"
      topic="camera"
      mass="0.001"
      update_rate="30"
      hfov="1.5125"
      width="768"
      height="492"
      stddev="0.02"
      scale="1.0">
      <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />
      <xacro:insert_block name="forward_camera_L_pos" />
</xacro:regular_camera_plugin_macro>

<!-- downward camera-->
<xacro:regular_camera_plugin_macro
      namespace="sensors"
      suffix="_downward"
      parent_link="${namespace}/base_link"
      topic="camera"
      mass="0.001"
      update_rate="30"
      hfov="1.5125"
      width="768"
      height="492"
      stddev="0.02"
      scale="1.0">
      <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />
      <xacro:insert_block name="downward_camera_pos" />
</xacro:regular_camera_plugin_macro>

<!-- IMU -->
<xacro:default_imu_macro
      namespace="${namespace}"
      parent_link="${namespace}/base_link"
      inertial_reference_frame="world_ned">
      <origin xyz="0 0 0" rpy="0 0 0"/>
</xacro:default_imu_macro> 

<!--DVL-->
<xacro:default_dvl_macro
      namespace="${namespace}"
      parent_link="${namespace}/base_link"
      inertial_reference_frame="world_ned">
      <origin xyz="-0.081297 -0.081297 0.0" rpy="0 ${0.5*pi} 0"/>
</xacro:default_dvl_macro>

<!--Depth Sensor-->
<xacro:default_pressure_macro namespace="${namespace}" parent_link="${namespace}/base_link">
      <origin xyz="0 -0.0004 0.0711" rpy="0 0 0"/>
</xacro:default_pressure_macro>

</robot>
 