<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="thrusters">

   <!-- Include needed xacros -->
   <xacro:include filename="$(find uuv_gazebo_ros_plugins)/urdf/snippets.xacro"/>
   <xacro:include filename="$(find common_robot_description)/xacro/common_thrusters.xacro"/>
   
   <!-- Load data from yaml -->
   <xacro:property name="thruster_file" value="$(find maelstrom_description)/config/thrusters.yaml"/>
   <xacro:property name="thruster_data" value="${load_yaml(thruster_file)}"/>

   <!-- Create Thrusters -->
   <xacro:uuv_thruster_t200_from_yaml data="${thruster_data['heave_port_fwd']}"/>
   <xacro:uuv_thruster_t200_from_yaml data="${thruster_data['heave_port_aft']}"/>
   <xacro:uuv_thruster_t200_from_yaml data="${thruster_data['heave_stbd_fwd']}"/>
   <xacro:uuv_thruster_t200_from_yaml data="${thruster_data['heave_stbd_aft']}"/>
   <xacro:uuv_thruster_t200_from_yaml data="${thruster_data['vector_port_fwd']}"/>
   <xacro:uuv_thruster_t200_from_yaml data="${thruster_data['vector_port_aft']}"/>
   <xacro:uuv_thruster_t200_from_yaml data="${thruster_data['vector_stbd_fwd']}"/>
   <xacro:uuv_thruster_t200_from_yaml data="${thruster_data['vector_stbd_aft']}"/>

</robot>
