<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!--
    Center of buoyancy according to eq. (3.1) p. 28 in Berg2012.
    The original values, [0.0822, -0.00773, 0.3872] however, seem to
    assume NWU (otherwise cob is below cog?).
    -->
    <xacro:property name="cob" value="0.027 -0.008 0.036"/>

    <!-- Volume, see p.31 in Berg2012 -->
    <xacro:property name="volume" value="0.041"/>

    <xacro:macro name="puddles_hydro_model" params="namespace">
        <link name="${namespace}/base_link">
            <neutrally_buoyant>0</neutrally_buoyant>
            <volume>${volume}</volume>
            <box>
                <width>0.89</width>
                <length>0.5</length>
                <height>0.33</height>
            </box>
            <center_of_buoyancy>${cob}</center_of_buoyancy>
            <hydrodynamic_model>
                <type>fossen</type>
                <!-- Added mass: see p.28 in Berg2012 -->
                <added_mass>
                    0 0 0 0 0 0
                    0 0 0 0 0 0
                    0 0 0 0 0 0
                    0 0 0 0 0 0
                    0 0 0 0 0 0
                    0 0 0 0 0 0
                </added_mass>
                <!-- Linear damping: see p.31 in Berg2012 -->
                <linear_damping>
                    -17.0 -50.0 -50.0 -4 -9 -9
                </linear_damping>
                <!-- Non-linear damping: see p.30 in Berg2012 -->
                <quadratic_damping>
                    -180.0 -460.0 -460.0 -12 -24.0 -24.0
                </quadratic_damping>
            </hydrodynamic_model>
        </link>
    </xacro:macro>

</robot>
