<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <!-- Everything here is ENU frame -->

  <!-- DVL  -->
  <xacro:default_dvl_macro
    namespace="${namespace}"
    parent_link="${namespace}/origin"
    inertial_reference_frame="${inertial_reference_frame}">
    <origin xyz="0.33 0 0.44" rpy="0 ${0.5*pi} 0"/>
  </xacro:default_dvl_macro>

  <!-- Pressure  -->
  <xacro:default_pressure_macro namespace="${namespace}" parent_link="${namespace}/origin">
    <origin xyz="0.533 -0.219 0.118" rpy="0 0 0"/>
  </xacro:default_pressure_macro>

  <!-- IMU  -->
  <xacro:default_imu_macro
    namespace="${namespace}"
    parent_link="${namespace}/origin"
    inertial_reference_frame="${inertial_reference_frame}">
    <origin xyz="0.71 -0.19 0.33" rpy="0 0 ${pi}"/>
  </xacro:default_imu_macro>

  <!-- Mount a camera -->
  <!-- <xacro:default_camera
    namespace="${namespace}"
    parent_link="${namespace}/base_link"
    suffix="">
    <origin xyz="1.15 0 0.4" rpy="0 0.6 0"/>
  </xacro:default_camera>

  <xacro:default_camera
    namespace="${namespace}"
    parent_link="${namespace}/base_link"
    suffix="right">
    <origin xyz="1.15 -0.63 0.4" rpy="0 0.6 0.4"/>
  </xacro:default_camera>

  <xacro:default_camera
    namespace="${namespace}"
    parent_link="${namespace}/base_link"
    suffix="left">
    <origin xyz="1.15 0.63 0.4" rpy="0 0.6 -0.4"/>
  </xacro:default_camera> -->

  <!-- Mount a Pose 3D sensor. -->
  <xacro:default_pose_3d_macro
    namespace="${namespace}"
    parent_link="${namespace}/base_link"
    inertial_reference_frame="${inertial_reference_frame}" />

  <xacro:stereo_macro
    namespace="${namespace}"
    parent_link="${namespace}/origin" 
    update_rate="30"
    hfov="1.5125"
    width="644"
    height="482"
    stddev="0.02"
    baseline="0.1">
    <origin xyz="0.781 -0.1326 0.2466"/>
  </xacro:stereo_macro>
</robot>
