<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="lin" value="${config['linear_damping']}"/>
    <xacro:property name="quad" value="${config['quadratic_damping']}"/>

    <xacro:macro name="puddles_hydro_model" params="namespace">
        <link name="${namespace}/base_link">
            <volume>${config['volume']}</volume>
            <center_of_buoyancy>${config['cob'][0]-config['base_link'][0]} ${config['cob'][1]-config['base_link'][1]} ${config['cob'][2]-config['base_link'][2]}</center_of_buoyancy>
            <hydrodynamic_model>
                <type>fossen</type>
                <added_mass>
                    0 0 0 0 0 0
                    0 0 0 0 0 0
                    0 0 0 0 0 0
                    0 0 0 0 0 0
                    0 0 0 0 0 0
                    0 0 0 0 0 0
                </added_mass>
                <linear_damping>
                    ${lin[0]} ${lin[1]} ${lin[2]} ${lin[3]} ${lin[4]} ${lin[5]}
                </linear_damping>
                <quadratic_damping>
                    ${quad[0]} ${quad[1]} ${quad[2]} ${quad[3]} ${quad[4]} ${quad[5]}
                </quadratic_damping>
            </hydrodynamic_model>
        </link>
    </xacro:macro>

</robot>
