<launch>
   <arg name="sim_topic" default="/sensors/pressure"/>
   <arg name="real_topic" default="/state/depth"/>

   <node name="depth_sensor" pkg="riptide_gazebo" type="depth_sensor_node" output="screen">
      <param name="sim_topic" value="$(arg sim_topic)"/>
      <param name="real_topic" value="$(arg real_topic)"/>
   </node>

</launch>