<launch>
    <arg name="model" default="maelstrom"/>
    <arg name="sensor_namespace" default="sensors"/>

    <include file="$(find uuv_gazebo_worlds)/launch/lake.launch"/>
    <include file="$(find maelstrom_description)/launch/upload_maelstrom.launch"/>

    <include file="$(find riptide_gazebo)/launch/inertial_sensors.launch">
        <arg name="model" value="$(arg model)"/>
        <arg name="model_states_topic" value="/gazebo/model_states"/>
        <arg name="uuv_imu_topic" value="/$(arg sensor_namespace)/imu"/>
        <arg name="six_dof_topic" value="/auv_gnc/trans_ekf/six_dof"/>
        <arg name="imu_topic" value="/state/imu"/>
        <arg name="dvl_topic" value="/state/dvl"/>
        <arg name="depth_topic" value="/state/depth"/>
    </include>

    <include file="$(find riptide_gazebo)/launch/thrust_converter.launch">
        <arg name="thrust_command_topic" value="/command/thrust"/>
        <arg name="thruster_prefix" value="/$(arg model)/thruster/"/>
        <arg name="thruster_suffix" value="/input"/>
        <arg name="config" value="$(find maelstrom_description)/model/config/thrusters.yaml"/>
        <arg name="propeller_config" value="$(find common_robot_description)/config/thruster_t200.yaml"/>
    </include>
</launch>