<launch>

    <include file="$(find uuv_gazebo_worlds)/launch/lake.launch"/>
    <include file="$(find maelstrom_description)/launch/upload.launch"/>

    <node name="depth_formatting" pkg="riptide_simulation" type="depth_formatting.py" output="screen">
        <param name="sim_topic" value="/maelstrom/pressure"/>
        <param name="real_topic" value="/depth/raw"/>
    </node>

    <node name="quat_to_euler_imu" pkg="riptide_simulation" type="quat_to_euler_imu.py" output="screen">
        <param name="sim_topic" value="/maelstrom/imu"/>
        <param name="real_topic" value="/imu/filter"/>
    </node>

    <node name="remap_thrust" pkg="riptide_simulation" type="remap_thrust.py" output="screen">
        <param name="config" value="$(find riptide_simulation)/cfg/remap_thrust_cfg.yaml"/>
    </node>

    <node name="remap_pwm" pkg="riptide_simulation" type="remap_pwm.py" output="screen">
        <param name="config" value="$(find riptide_simulation)/cfg/remap_pwm_cfg.yaml"/>
    </node>

    <node name="dvl_formatting" pkg="riptide_simulation" type="dvl_formatting.py" output="screen">
        <param name="sim_topic" value="/maelstrom/dvl"/>
        <param name="real_topic" value="/imu/filter"/>
    </node>

</launch>